# Dependencies
node_modules/

# Build output
dist/
out-tsc/

# Angular cache
.angular/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor junk
.DS_Store
Thumbs.db

# VS Code
.vscode/