<div class="landscape">
    <!-- CSS properties that control variables will be bound to host and inherit to these -->
    <div class="sky" aria-hidden="true"></div>
    <div class="sun-track" aria-hidden="true">
        <div class="sun" aria-hidden="true"></div>
    </div>
    <div class="moon" aria-hidden="true"></div>
    <div class="stars" aria-hidden="true"></div>
    <div class="clouds" aria-hidden="true">
        <svg class="cloud cloud-1" viewBox="0 0 100 50" xmlns="http://www.w3.org/2000/svg">
            <ellipse cx="25" cy="35" rx="20" ry="15" />
            <ellipse cx="45" cy="25" rx="25" ry="20" />
            <ellipse cx="70" cy="30" rx="20" ry="15" />
        </svg>
        <svg class="cloud cloud-2" viewBox="0 0 100 50" xmlns="http://www.w3.org/2000/svg">
            <ellipse cx="25" cy="35" rx="20" ry="15" />
            <ellipse cx="45" cy="25" rx="25" ry="20" />
            <ellipse cx="70" cy="30" rx="20" ry="15" />
        </svg>
        <svg class="cloud cloud-3" viewBox="0 0 100 50" xmlns="http://www.w3.org/2000/svg">
            <ellipse cx="25" cy="35" rx="20" ry="15" />
            <ellipse cx="45" cy="25" rx="25" ry="20" />
            <ellipse cx="70" cy="30" rx="20" ry="15" />
        </svg>
    </div>
    <div class="land"></div>
    <div class="tree" aria-hidden="true">
        <svg class="bush" viewBox="0 0 100 50" xmlns="http://www.w3.org/2000/svg">
            <ellipse cx="25" cy="35" rx="20" ry="15" />
            <ellipse cx="45" cy="25" rx="25" ry="20" />
            <ellipse cx="70" cy="30" rx="20" ry="15" />
        </svg>
    </div>
</div>